:root {
    --bg-body: #151515;
    --nav-bg: #2e2e2e;
    --textmain: #ffffff;
    --textHighlight: #dd4444;
    --green: #86bf3d;
    --gold: #FFD700;

}

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

#myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
}

body {
    /* font-family: 'Sofia Sans Extra Condensed', sans-serif; */
    font-family: 'B612', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto;
    background-color: var(--bg-body);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    min-height: 100vh;
    color: var(--textmain);
    position: relative;
    border-left: 0.2rem solid var(--textHighlight);
    border-right: 0.2rem solid var(--textHighlight);
    background-color: #151515c0;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#content h1 {
    font-size: 10rem;
    text-align: center;
    text-decoration: underline 0.2rem var(--textHighlight);
}

main {
    flex: 1;
}

#content a {
    color: var(--textmain);
    margin: 0 16px;
    font-weight: 400;
    font-size: 4rem;
    text-decoration: none;
    transition: 0.4s;
    padding: 1rem 2rem;
    border-radius: 99px;
}

#content a:hover {
    background-color: var(--textHighlight);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--textHighlight);

}

footer ion-icon {
    font-size: 2rem;
    margin: 1rem;
}

footer a {
    color: white;
    transition: 1s;
}

footer a:hover {
    color: var(--textHighlight);

}

#backOnTop {
    position: fixed;
    color: var(--textmain);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    bottom: 5rem;
    right: 5rem;
    background-color: var(--textHighlight);
}

@media (max-width:500px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        border-bottom: 1px solid var(--textHighlight);
        padding-bottom: 1rem;
    }

    .card {
        max-width: 8rem;
        font-size: 0.8rem;
    }

    section {
        justify-content: center;
    }
}