:root {
    --bg-body: #151515;
    --nav-bg: #2e2e2e;
    --textmain: #ffffff;
    --textHighlight: #dd4444;
    --green: #86bf3d;

}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* font-family: 'Sofia Sans Extra Condensed', sans-serif; */
    font-family: 'B612', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.3;
    overflow-x: hidden;
    background-color: var(--bg-body);
}

#myVideo {
    position: fixed;
    left: 0;
    bottom: 0;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
    border-left: 0.2rem solid var(--textHighlight);
    border-right: 0.2rem solid var(--textHighlight);
    background-color: #151515bf;
    /* animation: 2s ease 0s 1 slideInFromLeft; */
}

nav {
    color: var(--textmain);
    max-width: 1280px;
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex: 0;
    padding: 0 2rem 0 2rem;
    align-items: center;
    justify-content: space-between;
    background-color: #2e2e2e9e;
}

.content {
    color: var(--textmain);
    padding: 2rem 2rem 0 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    min-height: 100%;
}

.content h1{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#top{
    font-size: 3rem;
}

.content span:nth-child(1) {
    color: var(--textHighlight);
    text-decoration: underline;
    font-size: 3rem;
}

.content span:nth-child(2) {
    color: var(--green);
    font-size: 3rem;
    position: relative;
}

.content span:nth-child(2)::after {
    content: "";
    /* display: block; */
    width: 100%;
    height: 0.25rem;
    background-color: var(--green);
    left: 0;
    top: 0.6rem;
    position: absolute;
}


footer {
    color: var(--textmain);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2rem;
    padding: 2rem;
    background-color: #2e2e2e9e;
}

footer ion-icon {
    font-size: 2rem;
    padding: 0 1rem;

}

a {
    color: white;
    transition: 1s;
}

a:hover {
    color: var(--textHighlight);

}

nav h1 {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-weight: 900;
    text-transform: uppercase;
    transition: all .4s ease;
}

nav h1:hover {
    transform: scale(1.1);

}

.hero {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    position: relative;
    padding: 0.5rem 0;
    top: 0;
    display: flex;
    flex-direction: column;

}

.hero #bread {
    position: absolute;
    top: 6rem;
    left: 6rem;
    cursor: grab;
    user-select: none;
    transition: 1s;
}

.hero img {
    transition: 1s;
}

.hero img:hover {
    transform: scale(1.1);
}

.hero #bread:active {
    transform: rotate(360deg);
}

.hero #bread:hover {
    text-shadow: 0 0 2rem var(--textHighlight);
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.hero #name {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    font-weight: 800;
}

.hero #nick {
    font-weight: 400;
}

#logo {
    width: 8rem;
    height: 8rem;
    border: 0.2rem solid var(--textHighlight);
    border-radius: 5rem;
}

/* #logo:hover {
    src: ;
} */

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: var(--textmain);
    margin: 0 16px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a:hover {
    background-color: var(--textHighlight);
}

section h1 {
    font-style: italic;
    letter-spacing: 0.5rem;
    border-bottom: 0.2rem solid var(--textHighlight);
    width: fit-content;
}

.bgElement div {
    background: #dd4444b9;
    position: absolute;
    width: 50rem;
    height: 50rem;
    border-radius: 50%;
    top: 10rem;
    z-index: -1;
}

.bgElement div:nth-child(1) {
    top: 2rem;
    right: 2rem;
}

/* @keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;

    }

    100% {
        transform: translateX(0);
        opacity: 0.9;

    }
} */

@media (max-width:500px) {
    nav{
        border-bottom: 1px solid var(--textHighlight);
    }
    .menu{
        display: none;
    }
    
}